= simple_form_for [:backoffice, @account], remote: true do |f|
  .noticess
  .row
    .col-md-4
      = f.input :name, label: "Nome"
    .col-md-4
      = f.input :kind, label: "Tipo", collection: Account.available_kinds
    .col-md-2
      = f.input :logo, label: "Logo"
    .col-md-2
      = f.input :currency, label: "Moeda", collection: all_currencies(Money::Currency.table)
    .col-md-12
      = f.input :description, label: "Descrição"
  .actions
    = f.submit class: 'btn btn-success'