= simple_form_for [:backoffice, @account] do |f|
  - if @account.errors.any?
    #error_explanation
      %h2= "#{pluralize(@account.errors.count, "erro")} não deixaram este account ser salvo:"
      %ul
        - @account.errors.full_messages.each do |message|
          %li= message
  = f.input :name, label: "name"
  = f.input :description, label: "description"
  = f.input :kind, label: "kind"
  = f.input :logo, label: "logo"
  = f.input :currency, label: "currency"
  .actions
    = f.submit class: 'btn btn-success'