.navbar-header
  %button.navbar-toggle.hr-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
    %span.fa.fa-bars
  / logo start
  / logo start
  .brand
    %a.logo{:href => root_path, :style => 'margin: 20px 0 0 46px;'}
      %img{:alt => "Moneys", :src => asset_path('logo.png'), :style => 'width: 140px;'}/
  / logo end
  / logo end
  .horizontal-menu.navbar-collapse.collapse
    %ul.nav.navbar-nav
      %li
        = link_to root_path do
          %i.fa.fa-dashboard
          %span Painel
      %li
        = link_to backoffice_accounts_path do
          %i.fa.fa-university
          %span Contas
      %li.dropdown
        %a.dropdown-toggle{"data-hover" => "dropdown", "data-toggle" => "dropdown", :href => "#"}
          UI Kits
          %b.fa.fa-angle-down
        %ul.dropdown-menu
          %li
            %a{:href => "general.html"} General
          %li
            %a{:href => "buttons.html"} Buttons
          %li
            %a{:href => "typography.html"} Typography
          %li
            %a{:href => "font_awesome.html"} Font Awesome
  .top-nav.hr-top-nav
    %ul.nav.pull-right.top-menu
      %li
        %input.form-control.search{:placeholder => " Pesquisar", :type => "text"}/
      / user login dropdown start
      %li.dropdown
        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          %img{:alt => "", :src => current_user.avatar}/
          %span.username
            = current_user.name
            - if current_user.books.count > 1
              %small= @current_book.name
          %b.caret
        %ul.dropdown-menu.extended.logout
          - if current_user.books.count > 1
            - current_user.books.each do |book|
              %li{class: is_active?(book, @current_book)}[book, 'alternate']
                = link_to backoffice_book_alternate_path(book), method: :put do
                  %i.fa.fa-book
                  = book.name
            %li
              .divider
          %li
            %a{:href => backoffice_settings_path}
              %i.fa.fa-user
              Perfil
          %li
            = link_to destroy_user_session_path, method: :delete do
              %i.fa.fa-key
              Sair
      / user login dropdown end
/ header end
/ sidebar start
/ sidebar end
/ main content start
